@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/**------- INICIO CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    /*Para quitar las letras subrayadas*/
}

/*------------- Paleta de colores ------*/
:root {
    /* CSS HEX */
    --mineral-green: #436250;
    --conch: #c6d5cd;
    --mantle: #84948c;
    --xanadu: #6c8374;
    --viridian-green: #64946c;
    --black-haze: #f2f3f3;
    --envy: #9caa9c;
    --manatee: #9c9c9e;
    --mid-gray: #6c6c74;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--conch);
}

.form_input {
    margin: 80px 0px 300px 200px;

}

.form_output {
    display: flex;
    flex-direction: column;
    margin: 80px 10px 100px 10px;
    width: 300px;
    background-color: var(--black-haze);
    border-radius: 15px;
}

.input {
    height: 460px;
    width: 660px;
    border-style: dashed;
    border-width: 3px;
    border-radius: 15px;
    background-color: var(--conch);
    padding: 10px 0px 0px 15px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */

}

.output {
    text-align: center;
    padding-top: 15px;
    background-color: var(--black-haze);
    border: none;
    height: 100px;
    border-radius: 15px;
}

#msgCopiado {
    text-align: center;
    color: var(--xanadu);
    font-size: 13px;
}

.btnCopiar:hover {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: var(--mineral-green);
    color: var(--black-haze);
    width: 160px;
    cursor: pointer;

}

.btnCopiar {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: var(--envy);
    color: var(--mineral-green);
    width: 160px;
    cursor: pointer;
}

.btnsEncrip {
    display: flex;
}

.btnEncriptar:hover,
.btnDesencriptar:hover {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 160px;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: var(--mineral-green);
    color: var(--black-haze);
    cursor: pointer;
}

.btnEncriptar,
.btnDesencriptar {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 160px;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: var(--envy);
    color: var(--mineral-green);
    cursor: pointer;
}

.img_girl {
    width: 270px;
    height: 300px;
    margin: 150px 0px 0px 30px;
}

.img_boy {
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.textError,
.textError2 {
    text-align: center;
    width: 300px;
    color: var(--mineral-green)
}

.textError {
    margin-top: 50px;
}

::-webkit-input-placeholder {
    color: var(--envy);
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px 0px 15px;
}

::-moz-placeholder {
    color: var(--envy);
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px 0px 15px;
}

:-ms-input-placeholder {
    color: var(--envy);
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px 0px 15px;
}